.admin-nav a{
    text-decoration: none;
    color: rgb(169, 189, 221);
    padding: 10px;
    border: solid rgb(169, 189, 221);
    border-radius: 10px;
    font-size: 17px;
    font-weight: 700;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}
.admin-nav-title {
    font-size: 30px;
    font-weight: 700;
    color: rgb(169, 189, 221);
    margin-right: auto;
    margin-top: 5px;
}   
.admin-nav a:hover {
    background-color: rgb(169, 189, 221);
    color: white;
    box-shadow: 2px 2px 5px rgba(0.1, 0.1, 0.1, 0.5);
}
.admin-nav {
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: end;
    gap: 25px;
}
.admin-logout-button {
    padding: 10px 15px;
    border-radius: 100px ;
    border: none;
    background-color: rgb(169, 189, 221);
    color: white;
}
.admin-logout-button:hover {
    background-color: rgb(140, 156, 182);
}